MONEDERO_DIGITAL_APP/MONEDERO_DIGITAL_APP_MODEL/src/main/java/ud/ing/modi/App.java
MONEDERO_DIGITAL_APP/MONEDERO_DIGITAL_APP_MODEL/src/main/java/ud/ing/modi/ClienteTest.java
MONEDERO_DIGITAL_APP/MONEDERO_DIGITAL_APP_MODEL/target/*
MONEDERO_DIGITAL_APP/MONEDERO_DIGITAL_APP_WEB/target/*