Bienvenido(a) ${nombre} ${apellido},

Se ha recibido su petici&oacute;n de inscripción al sistema MONEDERO DIGITAL para la empresa ${razonSocial}, los datos se est&aacute;n validando y usted ser&aacute; notificado via email cuando se tenga una respuesta a su solicitud.

Gracias.